@import '../../../../../dist/css/variables.css';

section {
  width: 100%;
  min-height: 15.625rem;

  background-color: var(--primary);
  box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.08);

  margin-top: 1.25rem;

  &.loading {
    background-image: url("../../../../../assets/icons/tasks-icon-14.png");
    background-repeat: no-repeat;
    background-position: center 1.875rem;
    background-size: 150px 150px;
  }

  ul {
    padding: 1.25rem;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.625rem;

      input {
        &[type='checkbox'] {
          width: 5%;
        }
        &[type='text'] {
          width: 80%;
          padding: 0.3125rem 0.625rem;
          border: none;
          font-size: 1rem;
          color:  var(--primary-010);
          &.checked {
            text-decoration: line-through;
          }
        }
      }
      button {
        width: 5%;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}


.img{
  width: 15px;
  height: 12px;
}
